h2{
	margin:10px 0px 0px 25px;
	padding:0px;
	font-family:Arial, Helvetica, sans-serif;
	color:#512912;
	font-weight:bold;
	font-size:16px;
	
}
h3{
	margin:10px 0px 0px 5px;
	padding:0px;
	font-family:Arial, Helvetica, sans-serif;
	color:#512912;
	font-weight:bold;
}
.style1{
	margin-top:3px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#dc8619;
	font-weight:bold;
	text-decoration:none;
}
.style2{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#F39112;
	font-weight:bold;
	text-align:center;
	background-color:#7e1b1b;
}
.style3{
	font-family:Arial, Helvetica, sans-serif;
	font-size:21px;
	color:#4d6012;
	font-weight:bold;
}

.style4{
	margin:0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#512912;
	font-weight:bold;
}

.tstyle4{
	margin:0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#dd8119;
	font-weight:bold;
	text-align:center;
}

.style5
{
	margin:0px;
	padding:0px;
	font-family:Arial;
	font-size:16px;
	color:#512912;
	font-weight:bold;
}
	
.text
{
	margin:5px 0px;
	padding:0px;
	font-family: Sans-Serif;
	font-size:15px;
	color:#000000;
	line-height:20px;
	text-indent:40px;
}
.bg_style1{
	margin:0px 0px 0px 0px;
	padding:2px 0px 2px 0px;
	width:113px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#263102;
	background:#DD8119;
	font-weight:bold;
}

.bg_style2{
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#364700;
	background:#6E1C1C;
	border:#981d18 solid 1px;
	border-radius:5px;
}
.bg_style3{
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#364700;
	background:#efd787;
	border:#f3c46d 1px solid;
	border-radius:5px;
}
.login_form_style{
	margin:0px;
	padding-left:5px;
	width:140px;
	height:18px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#364700;
	font-weight:bold;
	background:#e7cd73;
	border:#d9b021 solid 1px;
	border-radius:5px;
}
a.link1:link, a.link1:visited{
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	font-family:"Arial", Gadget, sans-serif;
	font-size:14px;
	color:#51290e;
	
	text-decoration:none;
}
a.link1:hover, a.link1:active{
	text-decoration:none;
	color:#a00305;
}
.search_form_style{
	margin:0px;
	padding-left:5px;
	width:586px;
	height:23px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#364700;
	font-weight:bold;
	background:#efeea9;
	border:#d9b021 solid 2px;
	border-radius:10px;
}
.go_but_style{
	margin:0px;
	padding:0px;
	width:31px;
	height:31px;
	background:#f39112;
	border:#512912 solid 2px;
	border-radius:10px;
}
a.go:link, a.go:visited{
	margin:2px 0px 0px 3px;
	padding:2px 0px 0px 0px;
	position:absolute;
	font-family:"Arial", Gadget, sans-serif;
	font-size:12px;
	color:#512912;
	font-weight:bold;
	text-decoration:none;
}
a.go:hover, a.go:active{
	text-decoration:none;
	color:#a00305;
	
}


.box_style{
	margin:0px;
	padding:0px;
	width:985px;
	height:312px;
	background:#efd787;
	border:#f3c46d 1px solid;
	border-radius:5px;
}
.but1_style{
	margin:0px;
	padding:0px 0px 0px 0px;
	width:154px;
	height:46px;
	background:#b4ba44;
	border:#a2a835 2px solid;
	border-radius:5px;
	text-align:center;
}
a.but1:link, a.but1:visited{
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	font-family:"Arial", Gadget, sans-serif;
	font-size:24px;
	color:#919729;
	font-weight:bold;
	text-decoration:none;
}
a.but1:hover, a.but1:active{
	text-decoration:none;
	color:#df8318;
	
}
.but2_style{
	margin:0px;
	padding:0px 0px 0px 0px;
	width:154px;
	height:46px;
	background:#a2a835;
	border:#898f25 2px solid;
	border-radius:5px;
	text-align:center;
}
a.but2:link, a.but2:visited{
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	font-family:"Arial", Gadget, sans-serif;
	font-size:24px;
	color:#46580b;
	font-weight:bold;
	text-decoration:none;
}
a.but2:hover, a.but2:active{
	text-decoration:none;
	color:#df8318;
}
.but3_style{
	margin:0px;
	padding:0px 0px 0px 0px;
	width:154px;
	height:46px;
	background:#fa7924;
	border:#364700 2px solid;
	border-radius:5px;
	text-align:center;
}
a.but3:link, a.but3:visited{
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	font-family:"Arial", Gadget, sans-serif;
	font-size:24px;
	color:#36410a;
	font-weight:bold;
	text-decoration:none;
}
a.but3:hover, a.but3:active{
	text-decoration:none;
	color:#c0c561;
}
.category_box_style{
	margin:0px;
	padding:0px;
	width:228px;
	height:228px;
	background:#962824;
}
.add_style{
	margin:0px;
	padding:0px 0px 0px 0px;
	width:96px;
	height:32px;
	background:#801005;
	border:#6c430e 2px solid;
	border-radius:5px;
	text-align:center;
}
a.add:link, a.add:visited{
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	font-family:"Arial", Gadget, sans-serif;
	font-size:12px;
	color:#f39112;
	font-weight:bold;
	text-decoration:none;
}
a.add:hover, a.add:active{
	text-decoration:none;
	color:#c0c561;
}
/*InnerPage Styles Start*/
.in_box_style{
	margin:0px;
	padding:0px;
	width:228px;
	height:700px;
	background:#b4ba44;
	border:#a2a835 2px solid;
	border-radius:5px;
}
.rights{
	margin:0px;
	padding-top:10px;
	height:80px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#a2a835;
}