body{
	margin:0px;
	padding:0px;
	width:100%;
	background:#4d1c1c;
	font-family:arial;
	font-size:12px;
	color:#512912;
	text-align:justify;
	debut_dark.png
}
div,p,a,span{
	margin:0px;
	padding:0px;
	
}
img{
	border:0;
}
#wraper{
	margin:auto;
	width:1000px;
	height:auto;
	min-height:700px;
	background:#EFD787 url(../images/header_bg.gif) left top repeat-x;
	
	-moz-box-shadow:inset 0px 0px 5px 3px #ac7713;
-webkit-box-shadow:inset 0px 0px 5px 3px #ac7713;
box-shadow:inset 0px 0px 5px 3px #ac7713;
	
	}
header{
	width:1000px;
	height:154px;
}
#logo{
	margin:4px 0px 0px 0px;
	padding:0px;
	width:148px;
	height:154px;
	float:left;
}
#space{
	width:17px;
	height:154px;
	float:left;
}
#top_right_area{
	margin:0px;
	padding:0px;
	width:835px;
	height:154px;
	float:right;
}
	#top_links_row{
		margin:0px;
		padding:0px;
		width:835px;
		height:79px;
		float:left;
	}
		#top_links_area{
		margin:0px 0px 0px 0px;
		padding:0px;
		width:320px;
		height:30px;
		float:right;
	}
		#top_defaultlinks_area{
		margin:0px;
		padding:0px;
		width:200px;
		height:30px;
		float:left;
	}
		#top_loginlinks_area{
		margin-left:0px;
		padding:0px;
		width:350px;
		height:60px;
		float:right;
		}
		#l_f_bg
		{
			margin:0px;
			padding:0px;
			width:350px;
			height:70px;
		}
		#login_form
{
	margin-top:4px;
	margin-left:8px;
	padding:0px 0px 0px 0px;
	width:142px;
	height:20px;
	float:left;
}	
#go_but a.l_go:link, #go_but a.l_go:visited{
	margin:1px 0px 0px 10px;
	padding:3px 3px 3px 3px;
	font-family:"Arial", Gadget, sans-serif;
	font-size:13px;
	color:#512912;
	font-weight:bold;
	text-decoration:none;
	background:#f39112;
	border:#512912 solid 2px;
	border-radius:10px;
	
}
#go_but a.l_go:hover, #go_but a.l_go:active{
	text-decoration:none;
	color:#a00305;
	background:#f39112;
	border:#512912 solid 2px;
	border-radius:10px;
	
}
#login_header
{
	margin:auto;
	padding:0px;
	height:25px;
	text-align:center;
	border-bottom:#F3C46D solid 1px;
}
#login_links
{
	margin:30px 0 0 10px;
	padding:5px 0px 0px 0px;
	width:300px;
	height:20px;
	clear:both;
}
#login_links a.l_links:link, #login_links a.l_links:visited
{
	margin:0px 10px 0px 0px;
	padding:0px;
	
	font-family:Arial;
	font-size:12px;
	color:#e79b3f;
	font-weight:bold;
	text-decoration:none;
}
#login_links a.l_links:hover, #login_links a.l_links:active
{
	color:#e7cd73;
	font-weight:bold;
	text-decoration:none;
}
#login_links1
{
	margin:30px 0 0 10px;
	padding:5px 0px 0px 0px;
	width:300px;
	height:20px;
	clear:both;
}
#login_links1 a.l_links1:link, #login_links1 a.l_links1:visited
{
	margin:0px 10px 0px 0px;
	padding:0px;
	
	font-family:Arial;
	font-size:12px;
	color:#512912;
	font-weight:bold;
	text-decoration:none;
}
#login_links1 a.l_links1:hover, #login_links1 a.l_links1:active
{
	color:#FE7E28;
	font-weight:bold;
	text-decoration:none;
}
#logout_links
{
	margin:0px;
	padding:6px 0px 3px 0px;
	width:300px;
	height:40px;
	float:left;
	text-align:center;
}
#logout_links a.l_links:link, #logout_links a.l_links:visited
{
	margin:0px 5px 0px 0px;
	padding:0px;
	
	font-family:Arial;
	font-size:12px;
	color:#e79b3f;
	font-weight:bold;
	text-decoration:none;
}
#logout_links a.l_links:hover, #logout_links a.l_links:active
{
	color:#e7cd73;
	font-weight:bold;
	text-decoration:none;
}
	/*navigation row*/
#nav_row{
		margin:0px;
		padding:0px;
		width:835px;
		height:40px;
		float:left;
}
#navigation{
	margin:0px;
	padding:0px;
	width:650px;
	height:40px;
	float:left;
	border-radius:3px;
}
#list{
	margin-left:30px;
	 margin-top:-13px;
	padding:0px;
	width:113px;
	height:32px;
	float:left;
	background:#f0af21;
	border-radius:3px;
}
#list_left{
	margin:2px 0px 0px 3px;
	padding:0px;
	width:70px;
	height:28px;
	float:left;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#a10205), to(#830f05));
    background: -moz-linear-gradient(#a10205, #830f05);
    background: linear-gradient(#a10205, #830f05);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#a10205, endColorstr=#830f05);
/*	background:#850e05;*/
	text-align:center;
}
#list_v_line{
	margin-top:2px;
	width:1px;
	height:18px;
	float:left;
	background:#f39112;
}
#list_right{
	margin:2px 3px 0px 0px;
	padding:0px;
	width:35px;
	height:28px;
	float:left;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#a10205), to(#830f05));
    background: -moz-linear-gradient(#a10205, #830f05);
    background: linear-gradient(#a10205, #830f05);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#a10205, endColorstr=#830f05);
	text-align:center;
}
#list_simble{
	margin:0px 0px 1px 11px;
	padding:0px;
	width:25px;
	height:25px;
	float:left;
	background:url(../images/trally.gif) left top no-repeat;
}
/*Search row start*/
#search_row{
	margin:0px;
	padding:0px;
	width:835px;
	height:34px;
	float:left;
}
#v_line{
	margin-top:3px;
	padding:0px;
	width:1px;
	height:32px;
	float:left;
	background:#c0c561;
}
#search_form{
	margin-top:4px;
	margin-left:8px;
	padding:0px 0px 0px 0px;
	width:600px;
	height:30px;
	float:left;
}
#go_but{
	margin-top:6px;
	padding:0px 0px 0px 0px;
	width:23px;
	height:23px;
	float:left;
	text-align:center;
}
#go_link{
	margin:0px;
	padding:0px;
	float:left;
}


#ph{
	margin:20px 0px 0px 15px;
	padding:0px;
	width:130px;
	height:30px;
	float:left;
	text-align:center;
}
#item_area{
	margin-top:10px;
	margin-left:5px;
	padding:0px;
	width:985px;
	height:310px;
}
#box_header{
	margin:auto;
	margin-bottom:5px;
	padding:0px;
	width:985px;
	height:25px;
	text-align:left;
	
	border-radius:0px;
}

#but{
	margin:0px 5px;
	padding:0px;
	width:158px;
	height:40px;
	float:left;
	text-align:center;
}
#buttons_area{
	margin:5px 5px 0px 0px;
	padding:0px;
	float:right;
}
#but_link{
	margin-top:5px;
	margin-left:5px;
	padding:0px;
	width:150px;
	height:25px;
	float:left;
}
#box_content{
	margin-top:5px;
	margin-left:7px;
	padding-top:5px;
	width:985px;
	height:180px;
}
#category_box{
	margin:25px 25px 25px 25px;
	padding:0px;
	width:172px;
	height:215px;
	float:left;
	border-radius:5px;
	border-style: double;
	border-color:#190202;
	-moz-box-shadow:0px 0px 10px 7px #d6a163;
-webkit-box-shadow:0px 0px 10px 7px #d6a163;
box-shadow:0px 0px 10px 7px #d6a163;

}
#category_header{
	margin:0px;
	padding:0px;
	width:182px;
	text-align:center;
}
#img_placeholder{
	margin:0px;
	padding-left:10px;
	padding-top:10px;
	width:150px;
	height:155px;
	text-align:center;
	position:relative;
}
#category_bottom_row{
	margin:0px 0px 0px 0px;
	padding:0px;
	width:182px;
	height:50px;
	text-align:center;
	background:transparent;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	
}
#category_bottom_links{
	margin:0px;
	padding-top:5px;
	width:170px;
	text-align:center;
}
#add{
	margin:0px 0px 0px 10px;
	padding:0px;
	width:80px;
	height:20px;
	float:left;
	text-align:center;
}
#add_link{
	margin:3px 0px 0px 3px;
	padding:0px;
	width:80px;
	height:20px;
}
/*InnerPage Layout Start*/
#middlebody{
	margin:0px;
	padding:0px;
	width:1000px;
	height:900px;
}
#inner_item_area{
	margin-top:0px;
	margin-left:0px;
	padding-top:55px;
	width:790px;
	height:780px;
	
}
#left_col{
	margin-left:5px;
	padding:0px;
	width:169px;
	height:835px;
	float:left;
	border-radius:5px;
}
#right_col{
	margin-left:8px;
	padding:0px;
	width:790px;
	height:835px;
	float:left;
	border-radius:5px;
}
#inner_box_content{
	margin:0px;
	margin-left:3px;
	padding-top:5px;
	padding-left:25px;
	width:735px;
	height:258px;

}

#inner_category_box{
	margin:0px 0px 20px 10px;
	padding:0px;
	width:232px;
	height:235px;
	float:left;
	border-radius:5px;
}
#scroll_buttons{
	margin-top:350px;
	padding:0px;
	width:790px;
	height:70px;
	position:absolute;
}
a.scroll_arrow_l:link, a.scroll_arrow_l:visited{
	margin:0px;
	padding:0px;
	width:50px;
	height:50px;
    float:left;
	background:url(../images/left_arrow.png) left center no-repeat;
}
a.scroll_arrow_l:hover, a.scroll_arrow_l:active{
	margin:0px;
	padding:0px;
	width:50px;
	height:50px;
	background:url(../images/left_arrow_hover.png) left top no-repeat;
}
a.scroll_arrow_r:link, a.scroll_arrow_r:visited{
	margin:0px;
	padding:0px;
	width:50px;
	height:50px;
    float:right;
	background:url(../images/right_arrow.png) left center no-repeat;
}
a.scroll_arrow_r:hover, a.scroll_arrow_r:active{
	margin:0px;
	padding:0px;
	width:50px;
	height:50px;
	background:url(../images/right_arrow_hover.png) left top no-repeat;
}
#sort{
	margin:10px 0px 0px 5px;
	padding:0px;
	width:985px;
	height:50px;
	border-radius:5px;
	
}
 #pages
        {
        	margin:auto;
        	padding-top:13px;
        	width:auto;
        	 text-align:center;
        }
#sort_items{
	margin:0px 0px 0px 2px;
	padding-top:12px;
	width:790px;
	height:30px;
}
#sort_items a:link, #sort_items a:visited{
	margin:0px 7px;
	padding:0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:19px;
	color:#364700;
	font-weight:bold;
	text-decoration:none;
}
#sort_items a:hover, #sort_items a:active{
	margin:0px 7px;
	padding:0px;
	color:#f39112;
	font-weight:bold;
	text-decoration:none;
}
footer{
	margin:0px;
	padding:0px;
	height:80px;
	border:#a2a835 solid 1px;
	text-align:center;
	background:#4d1c1c ;
}
#to_left{
	float:left;
}
#to_right{
	float:right;
}