 .scroll-pane
{
	width: 100%;
	height: auto;
	overflow: auto;
	 max-height:1000px;
}
.horizontal-only
{
	height: auto;
	
}
.jspVerticalBar {
    width: 8px;
    background: transparent;
    right:10px;
}
 
.jspHorizontalBar {
    bottom: 5px;
    width: 100%;
    height: 8px;
    background: transparent;
}
.jspTrack {
    background: transparent;
}
 
.jspDrag {
    background: #91130D;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    
}
 
.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag {
    float: left;
    height: 100%;
}
 
.jspCorner {
    display:none
}